.container
    {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1000px; 
      color: white;
      background-color:black ;
    }
    form {
        height: 50%;
        width: fit-content;
        margin-top: 20px;
        padding: 10px;
        background-color: darkgray;


    }
    fieldset{
        height: fit-content;
        border-color: black;
       
    }
    
    input{
        border-color: crimson;
        width: auto;
        height: 25px;
    }
    .form
    {
        font-size: 20px;
        justify-content: center;
    }
    label{
        font-size: 30px;
    }
    input[type="submit"]
    {
        width: 8em;
        height: 2em;
        font-size: 20px;
    }
    input[type="date"]
    {
        width:fit-content;
        font-size: 20px;
    }
  
